    <section>
      <header class="page-header">
        <h2 class="page-title">空き部屋予約</h2>
      </header>
      <table id="calendar" class="calendar">
        <caption id="calendarTitle" class="calendar-title"></caption>
        <thead>
          <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
          </tr>
        </thead>
        <tbody id="calendarBody"></tbody>
      </table>
    </section>
